
.category-bg{
    background: #e5e5e5 url("../images/category-bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
  }

  .category-title{
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 90px;
    margin-bottom: 60px;
  }

  .little-category-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    background-color: white;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .select-sub-category{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    line-height: 33px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid #FB7B22;
  }

  .category-submit{
        background: #FB7B22;
        height: 50px;
        width: 110px;
        border-radius: 6px;
        color: white;
        justify-content: center;
        border: none;
        margin-top: 30px;
        margin-bottom: 30px;
  }

  .category-submit:hover {
    background-color: #ff6f08;
}



@media screen and (max-width: 768px) {
  .category-title{
    margin-top: 40px;
    line-height: 80px;
    font-size: 50px;
  }

  .little-category-title{
    width: 333px;
  }

  .category-submit{
    width: 333px;
  }

  .select-sub-category{
    width: 333px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

  .little-category-title{
    width: 333px;
  }

  .category-submit{
    width: 333px;
  }

  .select-sub-category{
    width: 333px;
  }

}